@import '@styles/variables.scss';

.container {
  padding: 16px;
  height: calc(100vh - #{$dashboard-nav-height});
  width: calc(100vw - #{$dashboard-sidepanel-width});
  display: grid;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 32px;
  justify-items: center;
}
