.container {
  padding: 8px;
  height: calc(100vh - 64px);
  background-color: white;
  display: grid;
  overflow-y: scroll;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-row-gap: 30px;
}
