.container {
  padding: 16px;
  height: calc(100vh - 64px);
  width: calc(100vw - 256px);
  background-color: white;
  display: grid;
  overflow-y: scroll;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 32px;
  justify-items: center;
}
