.container {
  padding: 16px;
  height: calc(100vh - 64px);
  width: calc(100vw - 256px);
  display: grid;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 32px;
  justify-items: center;
}
