.Row {
  background-color: #f7f9fa;
  height: 90vh;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  align-content: center;
  justify-content: center;
}

h1 {
  font-family: 'Ubuntu';
  color: #202529;
}

.Span {
  font-size: 3em;
  font-weight: 600;
  display: block;
  line-height: 1em;
}

.subSpan {
  font-size: 1em;
  font-weight: 300;
  display: block;
  line-height: 2em;
}

@media screen and (max-width: 600px) {
  .h1 {
    margin-top: -20%;
  }
  .Span {
    font-size: 2em;
  }
}
