@import '@styles/variables.scss';

$font-color: $text-color-dark;

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns:
    [full-start] 1fr [center-start] 14fr
    [center-end] 1fr [full-end];
  background-color: $primary-color;
}

.header {
  height: 90%;
  grid-column: full-start/full-end;
  background-color: white;
  border-radius: 0 0 32px 32px;
  box-shadow: 0px 8px 16px;
  user-select: none;

  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-template-rows: 1fr 3fr min-content 1fr;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd';
  .wrapper {
    grid-area: c;
    .title {
      margin: 0;
      font-size: 9vw;
      line-height: 1;
      font-weight: bolder;
      font-family: 'Ubuntu';
      color: $font-color;
    }
    .subtitle {
      font-size: 5.77vw;
      font-weight: lighter;
      color: lighten($font-color, 20);
    }
  }

  @media (min-width: 600px) {
    height: 95%;
    border-radius: 0 0 128px 0;
    box-shadow: 7px 7px 7px;
    grid-column: full-start/center-end;
    grid-template-columns: 1fr 10fr 10fr;
    grid-template-rows: min-content;
    grid-template-areas: 'a c b';

    .wrapper {
      .title {
        font-size: 7vw;
      }
      .subtitle {
        font-size: 2.8vw;
      }
    }
  }
}
