.Row {
  background-color: transparent;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Background {
  height: 100vh;
  width: 100vw;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 85%);
  position: fixed;
  top: 0;
}

.Header {
  font-family: 'Ubuntu';
  color: #202529;
}

.Span {
  font-size: 6vw;
  font-weight: 600;
  display: block;
  line-height: 1em;
}

.SubSpan {
  font-size: 2.3vw;
  font-weight: 300;
  display: block;
  line-height: 2em;
}

@media only screen and (max-width: 768px) {
  .Row {
    flex-direction: column-reverse;
  }
  .Header {
    margin-top: -20%;
  }
  .Span {
    font-size: 8vw;
  }
  .SubSpan {
    font-size: 3vw;
    line-height: 1em;
  }
}
