.LogoContainer {
  padding: 16px;
  border-style: none none solid none;
  border-color: #cacaca;
}

.Logo {
  height: 32px;
  background: rgba(0, 0, 0, 0.2);
}

nav.SidePanel {
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #f7f9fa;
  border-style: none solid none none;
  border-right-color: #cacaca;
  overflow-x: hidden;
  transition: 0.5s;
}

ul.SideMenu {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.Link {
  padding: 16px;
}

.Link:hover {
  background-color: #dfdfdf;
}

span.SideMenu {
  width: 100%;
  padding: 16px;
  display: inline-block;
  color: black;
}
