.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas: 'Sidepanel Navbar' 'Sidepanel Content';
}

.Navbar {
  grid-area: Navbar;
}

.Content {
  grid-area: Content;
}

.Sidepanel {
  grid-area: Sidepanel;
}
