@import '@styles/variables.scss';

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: $dashboard-sidepanel-width 1fr;
  grid-template-rows: $dashboard-nav-height 1fr;
  grid-template-areas: 'Sidepanel Navbar' 'Sidepanel Content';
}

.Navbar {
  grid-area: Navbar;
}

.Content {
  grid-area: Content;
}

.Sidepanel {
  grid-area: Sidepanel;
}
