.headerText {
  font-family: 'Ubuntu';
  color: #202529;
}

.Span {
  font-size: 3em;
  font-weight: 600;
  display: block;
  line-height: 1em;
}

.subSpan {
  font-size: 1em;
  font-weight: 300;
  display: block;
  line-height: 2em;
}

.Menu {
  line-height: 64px;
  position: absolute;
  right: 10%;
}

@media screen and (max-width: 600px) {
  .headerText {
    margin-top: -20%;
  }
  .Span {
    font-size: 2em;
  }
}
